# Compiled
*.elc

# Packaging
.cask

# Ignore Packages
elpa/

# Autosaves
auto-save-list/
\.#*
\#*\#
.emacs.desktop
.emacs.desktop.lock

# Eshell
eshell/

# Projectile
projectile-bookmarks.eld

# Smex
smex-items

# Multiple Cursosr
.mc-lists.el

# IDO
ido.*
